body{
  margin:0;
  padding: 0;
  height: 100vh;
  background-color: rgba(136, 250, 216, 0.595);
}

.head {
  position:relative;
background-color: rgba(246, 227, 103, 0.636);
height : minmax(10%,15%);
width: 100%;
box-shadow:0px 5px rgba(0,0,0,0.3) ;
display: flex;
flex-direction: row;

}
.icon{
  position: absolute;
  height: 4rem;
  top: 25%;
  left: 2%;
}

.h1__title{
  position: relative;
  left:8%;
  font-size: clamp(1.5rem,3rem,4rem);
  font-family:"Ubuntu", sans-serif;
}
.button{
  
  position: absolute;
  top:30%;
  right: 10%;
  border: none;
  width: 7rem;
  height: 3rem;
  font-family:"Ubuntu", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 25px;
  background-color:  rgba(136, 250, 216, 0.378);
}

.button:hover{
  background-color: rgb(214, 212, 212);
  cursor:grab;
  box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.501);
}.icon:hover{
  border: none;
  border-radius: 3.8rem;
  box-shadow:3px 3px 3px 3px rgba(128, 128, 128, 0.501) ;
}
.button:active{
  background-color:rgba(128, 128, 128, 0.501);
  color: white;
}

.foot{
  position: absolute;
  top: 95%;
  left: 10%;
  width: 80%;
  height: 5%;
  background-color: white;
  border-radius: 5px 5px 15px 15px; 
  box-shadow:3px 3px 3px 3px rgba(128, 128, 128, 0.501);
}

.bookContainer{
  background-color: white;
  position: absolute;
  top: 25%;
  left: 10%;
  height:70% ;
  width:80% ;
  border-radius: 10px;
  box-shadow:3px 3px 3px 3px rgba(128, 128, 128, 0.501);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:repeat(2,1fr);
}

.bookCard{

  background: #fffc00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #fffc00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #fffc00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
height: 175px;
width: 150px;
border-radius: 10px;
border-left: 10px solid #ba8b02;
margin:1%;
box-shadow:3px 3px 3px 3px rgba(128, 128, 128, 0.501);
  font-family:"Ubuntu", sans-serif;
  font-size: 1rem;
  text-align: justify;
}

.cardContent{
  height: 60%;
  width: 20%;
}


.form-popup{
  background-color:rgba(246, 227, 103, 0.564);
  display:none;
  position: absolute;
  top: 20%;
  left: 30%;
  height: 70%;
  width: 30%;
  z-index: 1;
  row-gap: 10px;
  border-radius: 10px;
}

.greeting{
  position:absolute;
  top:10px;
  margin: 0;
left: 7%;
font-family:"Ubuntu", sans-serif;
}
.greet-question{
 position: absolute; 
margin: 0;
top: 15%;
left: 15%;
font-family:"Ubuntu", sans-serif;
}
.book-form{
  
  display: flex;
  position:absolute;
  flex-direction: column;
  flex-wrap: wrap;
  top: 25%;
  left: 20%;
  row-gap: 5px;
  height: 90%;
  width: 90%;
  font-family:"Ubuntu", sans-serif;
}

input{
  margin-left:2%;
  width: 70%;
  height: 1.5rem;
  border: none;
  border-radius: 2rem;
}
label{
  margin-left: 3%;
}

.submit{
position: absolute;
top: 80%;
left: 10%;
border:none;
font-family:"Ubuntu", sans-serif;;
background-color:rgba(136, 250, 216, 0.378);
font-weight: 700;
width: 7rem;
height: 3rem;
border-radius: 2rem;
font-size: 1.2rem;
}
.cancel{
position: absolute;
top: 80%;
left: 60%;
border: none;
font-family: "Ubuntu", sans-serif;
font-weight: 700;
background-color: rgba(136, 250, 216, 0.378);
width: 7rem;
height: 3rem;
border-radius: 2rem;
font-size: 1.2rem;
}

.submit:hover{
  background-color: rgb(214, 212, 212);
  cursor:grab;
  box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.501);    
}
.submit:active{
  background-color:rgba(128, 128, 128, 0.501);
  color: white;
}

.cancel:hover{
  background-color: rgb(214, 212, 212);
  cursor:grab;
  box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.501);
}
.cancel:active{
  background-color:rgba(128, 128, 128, 0.501);
  color: white;
}

.readBtn {

  position: relative;
  top: 35%;
  left: 3%;
height: 1.2rem;
width: 3.5rem;
border: none;
border-radius: 25%;
background-color: #ba8b02;
color: rgba(255, 255, 255, 0.876);
font-family: "ubuntu",sans-serif;
font-size: 1rem;
}


.deleteBtn {
 
  position: relative;
  top: 35%;
  left: 14%;
  border: none;
  border-radius: 25%;
  color: rgba(255, 255, 255, 0.876);
background-color:  #ba8b02;
font-family: "ubuntu",sans-serif;
font-size: 1rem;
}

.readBtn:active{
  background-color:rgba(128, 128, 128, 0.501);
  color: white;
}



.deleteBtn:active{
  background-color:rgba(128, 128, 128, 0.501);
  color: white;
}